@model IEnumerable<ecoMonedasMVC.Models.CentroAcopio>

@{
    ViewBag.Title = "Mantenimiento de Centros de Acopio";
    Layout = "~/Views/Shared/_LayoutMantenimiento.cshtml";
}

<div class="container">
    <div class="col-12">

        <h2>Mantenimiento de Centros de Acopio</h2>

        <p>
            @Html.ActionLink("Crear Nuevo", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Provincias.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DireccionExacta)
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincias.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionExacta)
                    </td>
                    <td>
                        @if (item.Estado == 0)
                        {@Html.Encode("Habilitado");
                    }
                    else
                    { @Html.Encode("Deshabilitado");
                }
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Deshabilitar", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Habilitar", "HabilitarAcopio", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        @Html.ActionLink("Volver al panel de usuario", "VolverAlPanelUsuario", new { @class = "btn btn-primary" })
    </div>

</div>