@model ecoMonedasMVC.Models.DetalleCanjes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleCanjes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Canjes.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canjes.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
