

@{
    ViewBag.Title = "Administradores";

    Layout = "~/Views/Shared/_UsuariosLayout.cshtml";
}

@section Menu {
    <li class="nav-item">@Html.ActionLink("Gestión Centros de acopio", "Index", "CentroAcopio", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Gestión materiales reciclables", "Index", "Home", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Gestión de usuarios", "Index", "Home", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Cupones canjes", "Index", "Home", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Cambiar contraseña", "Index", "Home", new { @class = "nav-link" })</li>
}

<h3>Bienvenido al panel de administradores</h3>