

@{
    ViewBag.Title = "Administradores";

    Layout = "~/Views/Shared/_UsuariosLayout.cshtml";
}

@section Menu {
    <li class="nav-item">@Html.ActionLink("Gestión Centros de acopio","CentroAcopio", "MenuUsuario", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Gestión materiales reciclables", "Materiales", "MenuUsuario", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Gestión de usuarios", "Usuario", "MenuUsuario", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Cupones canjes", "Cupones", "MenuUsuario", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Cambiar contraseña", "CambiarContrasenna", "MenuUsuario", new { @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Cerrar Session", "CerrarSession", "MenuUsuario", new { @class = "nav-link" })</li>
}

<h3>Bienvenido al panel de administradores</h3>
<hr />