<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">

    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



</head>
<body>

    @*-- nav*@
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            @Html.ActionLink("ECOMONEDAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item">@Html.ActionLink("Sobre Ecomonedas", "Index", "Home", new { @class = "nav-link" })</li>                  
                    <li class="nav-item">@Html.ActionLink("Centros de Acopio", "Index", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Materiales de reciclaje", "Index", "Home", new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>

    @*--presentacion con la imagen de fondo*@ 
    <div class="hero-wrap js-fullheight" style="background-image: url('images/EcoMonedas/Fondo.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    @*<h2 class="subheading" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"</h2>*@
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <span>Ecomonedas</span>
                    </h1>
                    <br />
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <span>Descubre los beneficios de reciclar</span> 
                    </h1>
                    <p><a href="#" class="btn btn-primary py-3 px-4">Nuestro propósito</a></p>
                </div>
            </div>
        </div>
    </div>

    @*--que son ecomonedas*@
    <section class="ftco-section bg-secondary" id="section-counter">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="" 
                         style="background-image:url('images/Ecomonedas/mano-del-ambiente.jpg');">               
                    </div>
                </div>
                <div class="col-md-6 px-5 py-5">
                    <div class="row justify-content-start pt-3 pb-3">
                        <div class="col-md-12 heading-section ftco-animate">

                            <h2 class="mb-4" style="text-align:center; color:coral;">¿Qué son las ecomonedas?</h2>
    
                        </div>
                    </div>
                    <div class="row">
                      <p> Ecomonedas es una moneda virtual que da valor a la sostenibilidad en Costa Rica. 
                        Se otorga a cambio de los materiales valorizables que llevás a reciclar, 
                        mediante un sistema de incentivos en el que podés canjearlos por descuentos en 
                        productos y servicios sostenibles. 
                      </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    @*--cuatro cuadros*@
    <section class="ftco-section ftco-no-pb services-section">
        <div class="container">
            <div class="row no-gutters d-flex">
                <div ></div>
                <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                    <div class="icon" style="width: 230px; text-align: center; height: 180px;">
                        <img src="~/images/EcoMonedas/sap.png" style="width:150px"/>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a>Saprissa</a></h3>
                        <p>Podés canjearlo por entradas o prendas</p>
                    </div>
                </div>
                <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                    <div class="icon" style="width: 230px; text-align: center; height: 180px;">
                        <img src="~/images/EcoMonedas/multi.png" style="width:150px" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a>Multiplaza</a></h3>
                        <p>Podés canjearlo en distintos establecientos y eventos a realizarse en multi</p>
                    </div>
                </div>
                <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                    <div class="icon" style="width: 230px; text-align: center; height: 180px;">
                        <img src="~/images/EcoMonedas/dterra.jpg" style="width:150px" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a>DoTerra</a></h3>
                        <p>Podés canjearlo en los excelentes productos que ofrece DoTerra</p>
                    </div>
                </div>
                <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                    <div class="icon" style="width: 230px; text-align: center; height: 180px;" >
                        <img src="~/images/EcoMonedas/cpolis.png" style="width: 235px; margin-top: 65px;" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a>Cinépolis</a></h3>
                        <p>Podés canjearlo en entradas, promociones y mucho más...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*--circulitos*@
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">               
                    <h2 class="mb-4" style="color:coral">Centros de acopio inscritos</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-lg-2 text-center">
                    <div class="practice-area ftco-animate">
                        <div class="icon d-flex justify-content-center align-items-center" style="width:135px; height:80px">
                            <span style="font-size:25px">Guadalupe</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-lg-2 text-center">
                    <div class="practice-area ftco-animate">
                        <div class="icon d-flex justify-content-center align-items-center" style="width:135px; height:80px">
                            <span style="font-size:25px">Sabanilla</span>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 col-lg-2 text-center">
                    <div class="practice-area ftco-animate">
                        <div class="icon d-flex justify-content-center align-items-center" style="width:135px; height:80px">
                            <span style="font-size:25px">San Pedro</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-lg-2 text-center">
                    <div class="practice-area ftco-animate">
                        <div class="icon d-flex justify-content-center align-items-center" style="width:135px; height:80px">
                            <span style="font-size:25px">Coronado</span>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 col-lg-2 text-center">
                    <div class="practice-area ftco-animate">
                        <div class="icon d-flex justify-content-center align-items-center" style="width:135px; height:80px">
                            <span style="font-size:25px">Guadalupe</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    @*-- materiales de reciclaje*@
    <section class="ftco-section bg-secondary">
        <div class="container-fluid">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                 
                    <h2 class="mb-4">Materiales de reciclaje</h2>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-3 col-sm-6">
                    <div class="block-2 ftco-animate">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/EcoMonedas/azul.jpg);">
                                <div class="box" style="bottom:57px">
                                    <h2 style="text-align:center; color: lightcyan">PAPEL Y CARTON</h2>
                         
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote style="list-style:square">
                                    <ul style="list-style: square; margin-top:20px">
                                    <li>Hojas arrancadas de cuadernos</li>
                                        <li>Periódicos</li>
                                        <li>Revistas</li>
                                        <li>Papeles, tanto impresos como no impresos</li>
                                        <li>Sobres de cartas comunes</li>
                                        <li>Facturas</li>                                        
                                        <li>Carpetas</li>
                                        <li>Guías telefónicas</li>
                                        <li>Envases de cartón</li>
                                        <li>Cajas de transporte</li>
                                        <li>Tetrabrick</li>                                  
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="block-2 ftco-animate">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/EcoMonedas/amarillo.jpg);">
                                <div class="box" style="bottom:57px">
                                    <h2 style="text-align:center; color: lightgoldenrodyellow">PLÁSTICO</h2>

                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <blockquote style="list-style:square">
                                        <ul style="list-style: square; margin-top:20px">
                                            <li>Envases provenientes de comida y bebida</li>
                                            <li>Botes de cosmética</li>
                                            <li>Envases de transporte de la industria alimenticia</li>
                                            <li>Vasos, platos y cubiertos desechables</li>
                                            <li>Macetas</li>
                                            <li>Sillas de plástico</li>
                                            <li>Botellas de plástico de productos de limpieza</li>
                                         </ul>
                                    </blockquote>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="block-2 ftco-animate">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/EcoMonedas/verde.jpg);">
                                <div class="box" style="bottom:57px">
                                    <h2 style="text-align:center; color: chartreuse">VIDRIO</h2>

                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <ul style="list-style: square; margin-top:20px">
                                        <li>Envases de alimentos</li>
                                        <li>Botellas de bebidas alcohólicas</li>
                                        <li>Envases de perfumes y cosmética</li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="block-2 ftco-animate">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/EcoMonedas/rojo.jpg);">
                                <div class="box" style="bottom:57px">
                                    <h2 style="text-align:center; color: sandybrown">ALUMINIO</h2>

                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <ul style="list-style: square; margin-top:20px">
                                        <li>Latas de aluminio ejemplo cerveza y jugo</li>
                                        <li>Hojalata ejemplo latas de atún, frijoles etc.</li>
                                    
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </section>

    @*--seccion del video*@
    <section class="ftco-counter" id="section-counter">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="img d-flex align-self-stretch align-items-center justify-content-center" style="background-image:url('images/Ecomonedas/mano-del-ambiente.jpg');">
                        <a href="https://www.youtube.com/watch?v=I4wj61hScUQ&t=64s"
                           class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="icon-play"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 px-5 py-5">
                    <div class="row justify-content-start pt-3 pb-3">
                        <div class="col-md-12 heading-section ftco-animate">

                            <h2 class="mb-4" style="text-align:center; color:coral;">Ventajas del desarrollo sostenible</h2>
                            <p>Viviendo de la mano con la naturaleza</p>
                        </div>
                    </div>
                    <div class="row">
                        @*crecimiento*@
                        <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center py-4 bg-light mb-4">
                                <div class="text">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-line-chart" style="color:#eac15a"></span>
                                    </div>
                                    <strong> Reactivar el crecimiento</strong>
                                    <span style="text-align: justify">Principalmente en los casos de los países en desarrollo, donde está la mayor parte de la pobreza del mundo, la satisfacción de las necesidades esenciales y el desarrollo sustentable exigen que haya crecimiento económico</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center py-4 bg-light mb-4">
                                <div class="text">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="fas fa-male" style="color:#eac15a"></span>
                                    </div>
                                    <strong>Atender a las necesidades humanas</strong>
                                    <span style="text-align: justify">
                                        Esenciales de empleo, alimento, energía, saneamiento del agua
                                        son necesidades básicas cuya atención debe ser buscada con prioridad.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center py-4 bg-light mb-4">
                                <div class="text">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="fas fa-leaf" style="color:#eac15a"></span>
                                    </div>
                                    <strong>Conservar y mejorar la base de los recursos</strong>
                                    <span style="text-align: justify">
                                        Más que un beneficio es señalado como una de las metas del desarrollo,
                                        también es comprendido Como una obligación moral de las generaciones presentes en
                                        relación a las próximas.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center py-4 bg-light mb-4">
                                <div class="text">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="fas fa-laptop" style="color:#eac15a"></span>
                                    </div>
                                    <strong>Reorientar la tecnología</strong>
                                    <span style="text-align: justify">
                                        La tecnología es considerada el elemento clave que llevará a la solución de
                                        la mayoría de los problemas expuestos debe ser reorientada en función de las
                                        exigencias del desarrollo sustentable, que requiere mayor atención a los factores
                                        ambientales.
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    @*--footer*@
   
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                     
                        <p>Visita nuestras redes sociales para conocer mas sobre Ecomonedas</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

       
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contáctanos</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">San Jose Carmen Central Edificio Verde-now Oficina 23</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">22920405 / 22345678 </span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@ecomonedas.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Marie Ugalde -- David Sanchez <a href="https://colorlib.com" target="_blank"></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/scrollax.min.js"></script>
    <script src="~/Scripts/google-map.js"></script>
    <script src="~/Scripts/main.js"></script>

 
    
    
     <!-- Aqui comienza la parte de programacion-->

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
